<!--navbar comienza-->
<nav class="navbar navbar-light bg-light fixed-top shadow-sm d-flex align-items-center ">
    <div class="container-lg">
      <a class="navbar-brand text-success fw-bold fs-4" href="https://www.instagram.com/argentinaprograma/" ><img class="ap width:20px height:auto p-3" src="./assets/img/APLogo-20-20-icon2.png"  alt=""></a>
      <div class="social-links ">
        <a href="#"><i class="fab fa-facebook-f text-dark me-2"></i></a>
        <a href="#"><i class="fab fa-twitter text-dark me-2"></i></a>
        <a href="https://www.instagram.com/monsieur_eduardo/"><i class="fab fa-instagram text-dark me-2"></i></a>
        <a href="#"><i class="fab fa-linkedin-in text-dark me-2"></i></a> 
        </div>
      <div class="dropdown">
           <a class=" drop btn btn-secondary btn-success px-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
           </a>
           
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#acerca_de">Acerca de</a></li>
                <li><a class="dropdown-item" href="#educacion">Educación</a></li>
                <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
                <li><a class="dropdown-item" href="#skills">Skills</a></li>
                <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
                <li><a class="dropdown-item" href="#contacto">Contacto</a></li>    
            </ul>
      </div>
    </div>
  </nav>
  <!--navbar termina-->

