<!--mis intereses comienzo-->
<div class="about bg-white py-5">
    <div class="container-2">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5 text-dark fw-bold">Mis intereses</h2>
                </div>
            </div>
        </div>
        <div class="row" id="intereses">
            <div class="card">
                <div class="face front">
                    <img src="./assets/img/pent2.jpg" alt="">
                    
                </div>
                <div class="face back">
                    <h5>Música</h5>
                    <p>No concibo mi vida sin ella</p>
                    <div class="link">
                        <a href="https://open.spotify.com/playlist/5pWDP3NLpFgoXFWgqMAiOh?si=57433fa2987e49be" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">    
                <div class="face front">
                    <img src="./assets/img/literatura.jpg" alt="">
                 
                </div>
                <div class="face back">
                    <h5>Literatura</h5>
                    <p>Libros, un poco cada día</p>
                    <div class="link">
                        <a href="https://es.b-ok.global/" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="./assets/img/comic books.png" alt="">
                    
                </div>
                <div class="face back">
                    <h5>Cómics books</h5>
                    <p>Lector compulsivo, coleccionista, hago un podcast junto a 2 amigos</p>
                    <div class="link">
                        <a href="https://www.dccomics.com/">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="./assets/img/tkd.png" alt="">
                    
                </div>
                <div class="face back">
                    <h5>TKD</h5>
                    <p>Practicante de Tae Kwon DO, arte marcial de origen coreano</p>
                    <div class="link">
                        <a href="https://itftkd.sport/history/our-history/"target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">    
                <div class="face front">
                    <img src="./assets/img/programacion.png" alt="">
                    
                </div>
                <div class="face back">
                    <h5>Programación</h5>
                    <p>Fascinado por el tema busco cursos en la web mientras avanzo a prueba y error</p>
                    <div class="link">
                        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="./assets/img/casla.jpg" alt="">
                  
                </div>
                <div class="face back">
                    <h5>San Lorenzo</h5>
                    <p>100% cuervo, 3° generación</p>
                    <div class="link">
                        <a href="https://sanlorenzo.com.ar/" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
  <!--mis intereses final-->