<!-- presentación comienza-->
<section class="home py-5" id="acerca_de">
    <div class="container-lg d-flex">
        <div class="row bg-light min-vh-100 align-items-center align-content-center ">
            <div class="col-md-6 mt-5 mt-md-0">
              <div class="home-img text-center " >
                  <img src="./assets/img/portfolio-img-princ.png" id = "prince" class= " w-75 align-content-center alt=">
              </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                <div class="home-text">
                   <p class="text-muted mb-1"> Hola, soy</p>
                  <h1 clas="text-success fs-1 fw-bold">{{miPorfolio.soy}}</h1>
                  <h2 class= "fs-4">{{miPorfolio.nombre}}</h2>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="#" class = "btn-right text-success"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                      <a href="#" class = "btn-right text-success"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </div>
                  <p class="mt-4 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt hendrerit velit vel imperdiet. Pellentesque nec turpis non ex tincidunt fringilla. Donec elementum risus in dui auctor faucibus. In dui magna, venenatis ut orci tincidunt, semper rhoncus lacus. Morbi aliquam eget elit non faucibus. Vestibulum eu ante posuere, tristique metus id, facilisis dolor. Cras sed dolor vitae lorem interdum auctor sit amet a lorem. Quisque iaculis molestie velit eget fringilla. Sed dictum congue metus sit amet malesuada. Sed dictum vehicula diam, non venenatis odio blandit ut.
                  </p>
                  <a href="#proyectos" class="btn btn-success px-3 mt-3">Mis proyectos</a>
                </div>

            </div>
        </div>
    </div>
</section>

<!--presentación comienza-->